{% extends 'layouts/_base.html' %}


{% block title %}
    Usuaris
{% endblock %}

{% block content %}
    <h1>Bloquear Usuario</h1>

    <form action='/admin/users/block' method="post">
        <label for="user_id">Selecciona el usuario:</label>
        <select id="user_id" name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
    
        <label for="message">Razón del bloqueo:</label>
        <textarea id="message" name="message" placeholder="Ingresa la razón del bloqueo"></textarea>
        
        <input type="submit" value="Bloquear usuario">
    </form>

    <a class="btn btn-outline-dark btn-xl" href="/admin">&#x3c;&#x3c; Tornar la pàgina d'administració</a>
{% endblock %}