{% extends 'layouts/_base.html' %}

{% block title %}
   Banear Producto
{% endblock %}

{% block content %}
    <h1>Banear Un Producto</h1>

    <form action='/admin/products/ban' method="post">
        <label for="product_id">Selecciona el producto:</label>
        <select id="product_id" name="product_id">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.title }}</option>
            {% endfor %}
        </select>
    
        <label for="reason">Razón del baneo:</label>
        <textarea id="reason" name="reason" placeholder="Ingresa la razón del baneo"></textarea>
        
        <input type="submit" value="Banear producto">
    </form>
    <br>
    <a class="btn btn-outline-dark btn-xl" href="/admin">&#x3c;&#x3c; Tornar la pàgina d'administració</a>
{% endblock %}
