{% extends 'layouts/_base.html' %}

{% block title %}
Administració
{% endblock %}

{% block content %}
<a class="btn btn-secondary btn-sm" href="/admin/users">Mostrar usuaris</a>
<a class="btn btn-secondary btn-sm" href="/categories/list">Llistar categories</a>
<a class="btn btn-secondary btn-sm" href="/statuses/list">Llistar estats</a>
<a class="btn btn-secondary btn-sm" href="/admin/users/block">Bloquejar Usuaris</a>
<a class="btn btn-secondary btn-sm" href="/admin/users/unblock">Desbloquejar Usuaris</a>
<a class="btn btn-secondary btn-sm" href="/admin/products/list/ban">Lista Bannear Productos</a>
{% endblock %}