{% extends 'layouts/_base.html' %}

{% block title %}
Productes
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped" style="background-color: #fefefe;">
	<thead>
		<tr>
			<th>ID</th>
			<th>NOM</th>
			<th>PREU</th>
			<th>Bannear</th>
			<th>Desbannear</th>
		</tr>
	</thead>
	<tbody>
		{% for (product) in products %}
		<tr class="{{ 'own' if product.seller_id == current_user.id }}">
			<td><a href="/products/read/{{ product.id }}" alt="Visualitzar">{{ product.id }}</a></td>
			<td>{{ product.title }}</td>
			<td>{{ product.price }}</td>
			<td><a href="/admin/products/form_ban">🚫</a></td>
			<td><a href="/admin/products/<int:product_id>/unban">✅</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}