<!DOCTYPE html>
<html lang="ca">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Wannapop</title>
   <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/css/wannapop.css">
</head>

<body>
   <header>
      <div>
         <a href="index.html">
            <h2>Wannapop</h2>
         </a>

         <div>
            <span>
               <i class="fas fa-search"></i>
            </span>
            <input type="text" name="search" id="search" placeholder="Search">
            <button>Search</button>
         </div>

         <div>
            <a href="/products/templates/login"> <!-- Link to the login page -->
               <div>
                  <i class="far fa-user"></i>
               </div>
               <div>Login</div>
            </a>
         </div>

         <div>
            <a href="/products/templates/register"> <!-- Link to the register page -->
               <div>
                  <i class="far fa-user"></i>
               </div>
               <div>Register</div>
            </a>
         </div>
      </div>
   </header>
   <hr>
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      <div>
         {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
         {% endfor %}
      </div>
   {% endif %}
   {% endwith %}
   </header>

   <!-- START CONTENT -->
   <div>
      {% block content %}
      {% endblock %}
   </div>
   <!-- END CONTENT -->

   <div>
      <p>Problemes, suggeriments? Ves al nostre <a href="/contact">formulari de contacte</a>.</p>
   </div>

   <!-- Add your scripts or additional styles here -->
</body>

</html>
