{% extends 'layout.html' %}
{% block content %}
    <div class="container py-4 flex items-center gap-3">
        <a href="/products/list" class="text-primary hover:underline">Volver</a>
    </div>

    <div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

        <div class="col-span-3">
             <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                <!-- <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="relative hover:text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        My order history
                    </a>
                    <a href="#" class="relative hover:text-primary block capitalize transition">
                        My returns
                    </a>
                    <a href="#" class="relative hover:text-primary block capitalize transition">
                        My Cancellations
                    </a>
                    <a href="#" class="relative hover:text-primary block capitalize transition">
                        My reviews
                    </a>
                </div>
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="relative hover:text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-regular fa-credit-card"></i>
                        </span>
                        Payment methods
                    </a>
                    <a href="#" class="relative hover:text-primary block capitalize transition">
                        voucher
                    </a>
                </div>
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="relative hover:text-primary block font-medium capitalize transition">
                        <span class="absolute -left-8 top-0 text-base">
                            <i class="fa-regular fa-heart"></i>
                        </span>
                        My wishlist
                    </a>
                </div> -->

                <div class="space-y-3 items-center flex justify-center items-center">
                    <a href="/logout" class="relative hover:text-primary block font-medium capitalize transition">
                        <span>Cerrar sesión</span>
                    </a>
                </div>
            </div>
        </div>
        

        <div class="col-span-9 grid gap-4">

            <h1 class="text-gray-600 font-medium text-4xl">Cuenta</h1>

            <div class="grid grid-cols-3 px-4 py-3 shadow items-center gap-4">
                <div class="col-span-1 flex-shrink-0">
                    <img src="../assets/images/avatar.png" alt="profile"
                        class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
                </div>
                <div class="col-span-2 flex items-center">
                    <p class="text-gray-600">Hola,</p>
                    <h4 class="text-gray-800 font-medium ml-2">{{ user.name }}</h4>
                </div>
            </div>

            <div class="shadow rounded bg-white px-4 pt-6 pb-8">
                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-gray-800 text-lg">Datos Personales</h3>
                </div>
                <div class="space-y-1">
                    <h4 class="text-gray-700 font-medium">Nombre: {{ user.name }}</h4>
                    <p class="text-gray-800">Correo: {{ user.email }}</p>
                    <p class="text-gray-800">Rol: {{ user.role }}</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}